
// ============================================================

//MAIN GRID (TIER 1)
//THE MAIN DIVISIONS

.grid {
    width: 320px;
    
    display: grid;
    grid-template-rows: minmax(75px) minmax(50px) minmax(200px) minmax(800px) minmax(1800px) min(200px);
    grid-template-areas:  
    "header"
    "nav"
    "main"
    "section"
    "aside"
    "footer";
}

header {
    display: grid;
    background-color: $main-purple;
    grid-area: header;
}

nav {
    display: grid;
    background-color: $secondary-purple;
    grid-area: nav;
}

main {
    display: grid;
    background-color: $defult-white;
    grid-area: main;
}

section {
    display: grid;
    background-color: $defult-white;
    grid-area: section;
}

aside {
    display: grid;
    background-color: $defult-white;
    grid-area: aside;
}

footer {
    display: grid;
    background-color: $defult-white;

    grid-area: footer;
}

//========================//
// HEADER (FLEX) PROPERTIES //
//========================//
//(TITLE/BELL ICON/ BREAKLINE/ME)

header {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-evenly;
    width: 320px;
    margin: auto;
}

.header-container {
    display: flex;
    width: 320px;
    justify-content: space-evenly;
    flex-direction: row;
}

.header-offset {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6px;
}


// ============================================================

// HOME NAVIGATIONS FLEX
// (NAV - HOME/BAR/MEMEBERS/SETTINGS)

nav {
display: flex;
flex-direction: row;
justify-content: space-evenly;

}

.nav-container {
    display: flex;
    width: 320px;
    height: 65px;
    flex-direction: row;
}

// ============================================================

// MAIN (FLEX) PROPERTIES

// SEARCH BAR/ALERT PART
//(MAIN HEADER / ALERT)

.main-container {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
    // margin: auto;
}

#search_it {
    // width: 50%;
    width: 85%;
    background-color: #eee;
    //use #777 for something
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

#search_it:hover {
background-color: $main-purple;
cursor: pointer;
}


// ============================================================
// SECTION (FLEX) PROPERTIES
//TRAFFIC-HEADER/CHART-1-CONTAINER-FULL/DAILY/SM-USER-LABEL/CHART-3-CONTAINER-FULL)


//TRAFFIC NAVIGATION SECTIONS

.traffic {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    margin: auto;
}

// ---------------------------------------------------------------

//CHART 1 SECTIONS
//(CHARTS1)

.chart-1-main {
    display: flex;
    width: 320px;
    justify-content: center;
}

// ---------------------------------------------------------------

//CHART 3 SECTIONS
//(SM-USER-LABEL/CHART3)

//UNABLE TO CENTER
.chart3-container {
    display: flex;
    width: 320px;
    flex-direction: column;

    justify-content: center;
    margin: auto;

}

// // =========================================
// ASIDE (FLEX) PROPERTIES
//SOCIAL FACT SECTIONS
//(SOCIAL-GROUP/MEMBERS/RECENT-ACTIVITY/MESSAGE/SETTINGS)

.social-flex-parent {
    display: flex;
    width: 320px;
    flex-direction: column;

}

.social-fact-container {
    display: flex;
    width: 320px;
    justify-content: center;
    margin: auto;
}

.social-group:last-child {
    margin-bottom: 10px;
}

.social-text {
    display: flex;
    flex-direction: row;
    border: solid 1px grey;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
   background-color: $seconday-white;
}

.social-border {
    display: flex;
    flex-direction: column;
}

.social-stat {
    display: flex;
    flex-direction: column;
}

// ---------------------------------------------------------------

// MEMBERS SECTIONS
// //(PROFILE-IMAGE/MEMEBRS-TEXT/PROFILE-NAME/PROFILE-EMAIL-PROFILE-BIRTH)

//not currently working well as the conductor
.members-recent-flow-container {
    display: flex;
    flex-direction: column;
}

.members-container {
    display: flex;
    width: 320px;
    flex-direction: column;
    //added but may need to delete
    margin: auto;
}

//THIS SHOULD MAKE IT INTO A ROW
.members-group {
    display: flex;
    flex-direction: column;
}

.name-email-group {
    display: flex;
    flex-direction: column;
}

// ---------------------------------------------------------------
// RECENT ACTIVITY SECTIONS

.recent-flex-container {
    display: flex;
    width: 320px;
}

.recent-activity-group {
    display: flex;
    flex-direction: column;
}

// ---------------------------------------------------------------
// MESSAGE SECTIONS

.message-setting-flow-container {
display: flex;
flex-direction: column;
}

.message-container {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.message-group {
    display: flex;
    flex-direction: column;
}

// ---------------------------------------------------------------
// SETTINGS SECTIONS
// //NOTIFCATION-SETTIGNS/TIMEZONE-SETTINGS/SETTINGS-BUTTON ELEMENTS

.settings-container {
    display: flex;
    width: 320px;
    justify-content: center;
    flex-direction: column;

}

.notifcation-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.email-container, .profile-container {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
}

.email-group {
    // margin-right: 11000px;
    gap: 10px;


}

label#email-group, label#profile-group {
    display: flex;
    flex-direction: row;
}