// // ============================================= 
// //                  Typography                      
// // =============================================

//UNIVERSAL

* {
  font-family: 'Roboto', sans-serif;
  }

h1, h3, p {
  color: $defult-white;
}

//HEADER  FONTS

.header-app-title {
  font-size: 25px;
  color: $defult-white;
}

.header-profile-name {
  font-size: 15px;
  color: $defult-white;
  margin: auto;
}

//TRAFFIC FONTS

//ALL SECTION TITLE STYLING
.traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label {
  font-size: 15px;
  color: black;
}

.headline {
  font-size: 23px;
}

// Social Stats Grid Font Styles

.platform { 
  color: $main-purple;
  margin-top: 10px;
  margin-bottom: -25px;
  margin-right: 31px;
  margin-left: 13px;
}

.stat-number {
    font-size: 30px;
    color: grey; 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
  }

// Members/Recent Activities Font Styles

.profile-email {
  text-decoration-style: none;
  color: $main-purple;
  text-align: center;
}

.members-text, .profile-name, .profile-birth {
  color: black;
  text-align: center;
}