// /* ============================================= */
// /*              @Media Breakpoints               */
// /* ============================================= */

@media only screen and (min-width: 1024px) {

//===============================================
//Groups Font's

.traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label, .headline {
    font-size: 40px;
    color: black;
  }
  
  .header-profile-name {
    font-size: 35px;
  }

//Not responsive
  p.alert_banner {
    font-size: 35px;
  }

  //It's not responding
  .members-text, .profile-name, .profile-birth {
    font-style: 35px;
  }

  //===============================================

.grid {
    width: 1024px;    
    grid-template-columns: 50px 718px;
    grid-template-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1700px); //minmax(200px);
     grid-template-areas:  
    "header header"
    "nav main"
    "nav section"
    "nav aside"
    "nav footer";
}

//========================//
// HEADER (FLEX) PROPERTIES //
//========================//
//(TITLE/BELL ICON/ BREAKLINE/ME)

header {
    width: 1024px;    
    height: 100px;
}

.header-container {
    flex: .9;
}

.header-offset {
    flex-grow: .1;
}

.header-app-title {
    font-size: 40px;
  }
  
  .header-profile-name {
    font-size: 30px;
  }

  //Not responsive!!!!!!!! WHYYY??????
  .bell-icon {
    height: 90%;
}


  .header-me {
    border: solid 1px $defult-white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    align-items: center;
    margin: auto;
  }

  .nav-container {
    width: 50px;
    gap: 20px;
}

nav svg {
    height: 150px;
}

// ============================================================

// MAIN (FLEX) PROPERTIES

// SEARCH BAR/ALERT PART
//(MAIN HEADER / ALERT)

main {
    width: 1024px;    
}

.main-container {
    width: 1024px;    
}

.alert {
    width: 150%;
    margin: auto;
    justify-content: center;
    margin-left: 120px;
    font-size: 25px;
}

// ============================================================
// SECTION (FLEX) PROPERTIES
//TRAFFIC-HEADER/CHART-1-CONTAINER-FULL/DAILY/SM-USER-LABEL/CHART-3-CONTAINER-FULL)

//***FOUND A BUG IN MOVING THE TRAFFIC NAV TO THE END***

//TRAFFIC NAVIGATION SECTIONS

section {
    width: 1024px;    
}

.traffic-header {
    width: 1024px;    
}

.traffic-header .traffic-nav {
    gap:.5;
}


.traffic-nav {
    gap: 50px;
    font-size: 35px; 
}

// ============================================================
// SECTION (FLEX) PROPERTIES
//Charts

.chart-1-main {
    width: 1024px;
    // height: 100px;    
}

.chart1 {
    width: 850px;
    height: auto;
}

.chart3 {
    height: 675px;
    width: 675px;
    margin: auto;
    justify-content: center;
}

// // =========================================
// ASIDE (FLEX) PROPERTIES
//SOCIAL FACT SECTIONS
//(SOCIAL-GROUP/MEMBERS/RECENT-ACTIVITY/MESSAGE/SETTINGS)

aside {
    width: 1024px;    
}

.social-flex-parent {
    width: 1024px;    
}

.social-group {
    width: 1024px;    
    gap: 30px;
    justify-content: space-around;
}

.social-image {
    height: 60px;
    width: 60px;
    margin-top: 17px;
}
  
.social-border {
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

  .platform { 
    font-size: 25px;
    margin-bottom: -25px;
    margin-right: 25px;
    margin-left: 5px;   
}
    
.stat-number {
    font-size: 40px;
    color: grey; 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
}
    
// MEMBERS SECTIONS
//(PROFILE-IMAGE/MEMEBRS-TEXT/PROFILE-NAME/PROFILE-EMAIL-PROFILE-BIRTH)

.members-recent-flow-container {
    display: flex;
    flex-direction: row;
    width: 1024px;    
}

.main-container {
    width: 500px;
}

.members-container {
    width: 500px;
}

.members-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    gap: 22px;
}
  
// ========

.profile-image {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-left: 5px;
  }

.profile-birth {
    margin: 0;
    justify-content: end;
}
 
a.profile-email, .profile-birth, .profile-name {
    font-size: 25px;
}

a.profile-email {
    font-size: 20px;
}

.profile-birth {
    font-size: 20px;
}

// ========

// Recent Part

.recent-flex-container {
    width: 500px;
}

//Message /Settigns 

.message-setting-flow-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.message-container {
    width: 500px;
    justify-content: end;
}

//Setting

.settings {
    width: 500px;
}

.settings-container {
    width: 500px;
}

.switch-toggle {
    width: 50%;
    margin: 0;
    margin-left: 50px;
    margin-top: 0px;
}

.notifcation-settings {
    justify-content: stretch;
    gap: 30px;
}

.form-field, .message-textarea, .button-primary, .button-disabled, .email-container, .profile-container {
    font-size: 25px;
}

.form-field {
    height: 75px;
}

.message-textarea {
    height: 149px;
}

.email-container {
    margin-bottom: 40px;
}

.profile-container {
    margin-bottom: 20px;
}

}